* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    box-shadow: 2px 2px 10px gray;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: #666666;
    font-size: 15px;
}

nav ul li:nth-child(5) button {
    padding: 10px 25px;
    background-color: #222222;
    color: #ffffff;
    border-radius: 4px;
}

main section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 190px;
}

main section .text {
    width: 420px;
    margin-top: 145px;
}

section .text img {
    width: 192px;
}

section .text h2 {
    font-size: 54px;
    font-weight: 400;
}

section .text p {
    font-size: 16px;
    margin-top: 18px;
}

section .text .buttons button {
    padding: 10px 25px;
    background-color: #222222;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 20px;
}

main section .img {
    height: 548px;
    overflow: hidden;
}

.section-cards {
    background-color: #222222;
    color: white;
}
